@use './variables' as *;
@use './mixins' as *;

* {
    margin: 0;
    padding: 0;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h2, h3 {
    font-weight: 600;
    @include tablet {
        @include larger-padding;
    }
}


.site-header {
    background-color: $header-footer-background;

    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
        align-items: center;
    }

    &__logo {
        width: 9rem;
        display: flex;
        align-self: center;
        padding: 1rem 0;
        @include tablet {
            margin: 1rem 1rem 1rem 36px;
        }

    }

    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        text-align: center;
        @include tablet {
            padding-left: 4rem;
        }
    }

    &__item {
        width: 50%;
        @include tablet {
            padding-left: 3rem;
        }

        &--highlight {
            width: 50%;
            border-bottom: 0.2rem solid $divider;
            @include tablet {
                border-bottom: 0;
            }
        }
    }

    &__link {
        color: $divider;

        &--highlight {
            color: $primary-background;
            font-weight: 600;
            @include tablet {
                border-bottom: 0.3rem solid $primary-background;
                padding-bottom: 2rem;
            }
        }
    }
}

.site-footer {
    @include primary-padding;
    background-color: $header-footer-background;
    color: $divider;
    position: relative;
    @include tablet {
        padding: 0;
        @include larger-padding;


    }

    &__wrapper {
        // display: flex;
        // flex-direction: column;
    }

    &__top {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
            
        &--title {
            padding-left: 0;
            @include tablet {
                font-size: 2.5rem;
                padding-right: 1rem;
            }
        }

        &--svg {
            padding-right: 30px;
            @include tablet {
                padding: 0;
                margin: 3.4rem 1rem 0 1rem;
                width: auto;
                height: 1.7rem;

            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        @include tablet {
            padding-right: 1.2rem;
        }

        &-container {
            line-height: 150%;

            @include tablet {
                display: flex;
                flex-direction: row;
            }
        }    

        &--name-position {
            color: $primary-background;
        }

        &--destination {
            padding-top: 2rem;
        }

        &--email {
            padding-top: 2rem;
        }
    }


    &__bottom {

        &--logo {
            width: 9rem;
            padding-top: 5.5rem;
            @include tablet {
                padding: 0;
                margin: 4.6rem 2rem;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        &--text {
            font-size: 0.7rem;
            padding: 1rem 0;
            @include tablet {
                padding: 3rem 0 1rem 0;
                font-size: 1rem;
            }
        }
    }
}


