//Colors
$header-footer-background: #323232; //BandSite-Black
$highlight: #Afafaf; // Silver
$primary-background: #fff; //white
$divider: #e1e1e1; //mercury
$alternative-light: #fafafa; // alabaster

$secondary-background: #f7f7f7; //light gray
$secondary-text: #909090; //gray
$card-background: #fff; //