@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/photo';
@use './partials/fonts';
@use './partials/global';

* {
    box-sizing: border-box;
}

.hero-banner {
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    min-height: 12rem;
    display: flex;
    align-items: center;
    position: relative;

    @include tablet {
        min-height: 33rem;
    }

    @include desktop {
        min-height: 47rem;
        min-width: 20rem;
    }

    &:before {
        content: '';
        position: absolute;
        background-color: $header-footer-background;
        opacity: 0.5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__title {
        font-weight: 600;
        padding-left: 1rem;
        color: $primary-background;
        z-index: 10;

        @include tablet {
            font-size: 4rem;
            font-weight: 600;
            @include tablet-padding;
        }

        @include desktop {
            @include desktop-padding;
            font-size: 3rem;
        }
    }
}

.main-content {

    &__title {
        font-size: 1.7rem;
        @include primary-padding;

        @include tablet {
            @include tablet-padding;
            font-size: 2.8rem;
        }

        @include desktop {
            @include desktop-padding;
            font-size: 1.7rem;
        }
    }

    &__photo {
        @include primary-padding-content;
        max-width: 100%;
        
        @include tablet {
            @include tablet-larger-padding;
        }

        @include desktop {
            @include desktop-larger-padding;
        }
    }

    &__about {
        @include primary-padding;
        font-weight: 600;
        line-height: 180%;

        @include tablet {
            @include tablet-larger-padding;
            font-size: 1.5rem;
        }

        @include desktop {
            @include desktop-larger-padding;
            line-height: 150%;
            font-size: 1rem;
            width: 62%;
        }

        &--reference {

            @include tablet {
                font-size: 1.25rem;
            }

            @include desktop {
                font-size: 0.75rem;
            }
        }
    }

    &__description {

        &--title {
            padding-left: 0;
            font-weight: 600;
            @include primary-padding;

            @include tablet {
                padding: 3rem 0 1.5rem 7.188rem;
                font-size: 1.7rem;
            }

            @include desktop {
                padding: 2rem 0 1.5rem 10rem;
                font-size: 1.1rem;
            }
        }

        &-container {
            @include primary-padding-content;
            width: 100%;

            @include tablet {
                display: flex;
                justify-content: space-between;
                @include tablet-larger-padding;
            }

            @include desktop {
                @include desktop-larger-padding;
            }
        }

        &--paragraph {
            padding: 0 0 1.25rem 0;
            line-height: 150%;

            @include tablet {
                font-size: 1rem;
                width: 47%;
            }

            @include desktop {
                font-size: 0.7rem;
                width: 49%;
            }
        }
    }

    &__gallery {
        background-color: $gallery-background;

        &--title {
            font-size: 1.7rem;
            @include primary-padding;

            @include tablet {
                @include tablet-padding;
                font-size: 2.8rem;
            }

            @include desktop {
                padding: 3rem 6rem 0 6rem;
                font-size: 1.6rem;
            }
        }
    }

}