@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/photo';
@use './partials/fonts';
@use './partials/global';

* {
    box-sizing: border-box;
}

::placeholder { 
    color: black;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

.hero-banner {
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    min-height: 12rem;
    display: flex;
    align-items: center;
    position: relative;

    @include tablet {
        min-height: 50vh;
    }

    @include desktop {
        min-height: 60vh;
    }

    &:before { //pseudo selector to create a darker picture of the hero element
        content: '';
        position: absolute;
        background-color: $header-footer-background;
        opacity: 0.5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__title {
        font-weight: 600;
        padding-left: 1rem;
        color: $primary-background;
        z-index: 10;

        @include tablet {
            font-size: 4rem;
            font-weight: 600;
            @include tablet-padding;
        }

        @include desktop {
            @include desktop-padding;
            font-size: 3rem;
        }
    }
}

.main-content {

    &__title {
        font-size: 1.7rem;
        @include primary-padding;

        @include tablet {
            @include tablet-padding;
            font-size: 2.8rem;
        }

        @include desktop {
            @include desktop-padding;
            font-size: 1.7rem;
        }
    }

    &__photo {
        @include primary-padding-content;
        max-width: 100%;
        
        @include tablet {
            @include tablet-larger-padding;
        }

        @include desktop {
            @include desktop-larger-padding; 
        }
    }

    &__about {
        @include primary-padding;
        font-weight: 600;
        line-height: 180%;

        @include tablet {
            @include tablet-larger-padding;
            font-size: 1.5rem;
        }

        @include desktop {
            @include desktop-larger-padding;
            line-height: 150%;
            font-size: 1.3rem;
            width: 75%;
        }

        &--reference {

            @include tablet {
                font-size: 1.25rem;
            }

            @include desktop {
                font-size: 0.875rem;
            }
        }
    }

    &__description {

        &--title {
            padding-left: 0;
            font-weight: 600;
            @include primary-padding;

            @include tablet {
                padding: 3rem 0 1.5rem 7.188rem;
                font-size: 1.7rem;
            }

            @include desktop {
                padding: 2rem 0 1.5rem 10rem;
                font-size: 1.3rem;
            }
        }

        &-container { //container to divide text on two columns
            @include primary-padding-content;
            width: 100%;

            @include tablet {
                display: flex;
                justify-content: space-between;
                @include tablet-larger-padding;
            }

            @include desktop {
                @include desktop-larger-padding;
            }
        }

        &--paragraph {
            padding: 0 0 1.25rem 0;
            line-height: 150%;

            @include tablet {
                font-size: 1rem;
                width: 47%;
            }

            @include desktop {
                font-size: 0.875rem;
                width: 49%;
            }
        }
    }

    &__gallery {
        background-color: $gallery-background;

        &--title {
            font-size: 1.7rem;
            @include primary-padding;

            @include tablet {
                @include tablet-padding;
                font-size: 2.8rem;
            }

            @include desktop {
                padding: 3rem 6rem 0 6rem;
                font-size: 1.6rem;
            }
        }
    }

}

.comment-box {
    margin: 1.5rem 1rem 1rem 1rem;

    &__title {
        font-size: 1.7rem;
        padding-bottom: 1rem;

        @include tablet {
            @include tablet-padding;
            font-size: 2.8rem;
        }

        @include desktop {
            display: flex;
            padding: 3rem 6rem 0 6rem;
            font-size: 1.6rem;
        }
    }

    &__form {
        display: flex;
        border-bottom: solid 0.15rem $text-on-dark;
        padding-bottom: 1rem;

        @include tablet {
            margin: 1.5rem 5rem 0 5rem;
            padding-bottom: 2rem;
        }
        @include desktop {
            margin: 2rem 0;
            width: 50%;
            justify-content: center;
        }
    }

    &__avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-top: 2.5rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__label {
        text-transform: uppercase;
        color: $highlight;
        font-weight: 600;
        font-size: 0.8rem;
        padding: 1rem 0 0.5rem 0;
    }

    &__input-name {
        border-radius: 0.25rem;
        height: 2.25rem;
        background-color: $gallery-background;
        border: 0.063rem solid $text-on-dark;
    }

    &__input-comment {
        border-radius: 0.25rem;
        height: 6rem;
        background-color: $gallery-background;
        border: 0.063rem solid $text-on-dark;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        background-color: $header-footer-background;
        color: $primary-background;
        font-size: 1.3rem;
        border-radius: 0.5rem;
        border: 0;
        margin-top: 1rem;
        height: 3rem;

        @include tablet {
            text-align: center;
            align-self: flex-end;
            width: 11rem;
            font-size: 1.1rem;
            margin-top: 2rem;
        }
    }

    &__dynamic {

        @include tablet {
            @include tablet-larger-padding;
        }

        @include desktop {
            display: flex;
            flex-direction: column;
            align-self: center;
        }
    }

    &__default {
        display: flex;
        flex-direction: column;

        @include tablet {
            @include tablet-larger-padding;
        }
    }

    &__card-default {
        display: flex;
        border-bottom: solid 0.15rem $text-on-dark;
        padding: 1rem 0 1rem 0;

        @include desktop {
            width: 50%;
            align-self: center;
        }
    }

    &__avatar-box {
        display: flex;
        padding-right: 1rem;
    }

    &__avatar-default {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: $text-on-dark;
    }

    &__wrapper-default {
        display: flex;
        flex-direction: column;
    }

    &__top-box {
        display: flex;
        padding-bottom: 0.6rem;
    }

    &__name-default {
        flex: 50%;
        font-size: 1rem;
    }

    &__date-default {
        color: $highlight;
        font-size: 1rem;
    }

    &__comment-default {

    }
}