@media (min-width: 768px) {
  .gallery-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;
  }
}
.gallery-section__photo {
  max-width: 100%;
  padding: 0.313rem 0;
}
@media (min-width: 768px) {
  .gallery-section__photo {
    width: 14rem;
    padding: 0.313rem 0.313rem;
  }
}

@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("woff2");
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("woff2");
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("woff2");
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("woff");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h2, h3 {
  padding: 24px 0 1rem 1rem;
}

.site-header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .site-header {
    flex-direction: row;
    align-items: center;
  }
}
.site-header__logo {
  width: 9rem;
  display: flex;
  align-self: center;
  padding: 1rem 0;
}
.site-header__list {
  width: 100%;
  list-style: none;
  display: flex;
  text-align: center;
}
@media (min-width: 768px) {
  .site-header__list {
    padding-left: 4rem;
  }
}
.site-header__item {
  width: 50%;
}
@media (min-width: 768px) {
  .site-header__item {
    padding-left: 3rem;
  }
}
.site-header__item--highlight {
  width: 50%;
  border-bottom: 0.2rem solid #e1e1e1;
  padding-bottom: 0.4rem;
}
@media (min-width: 768px) {
  .site-header__item--highlight {
    border-bottom: 0;
  }
}
.site-header__link {
  color: #e1e1e1;
}
.site-header__link--highlight {
  color: #fff;
  font-weight: bold;
}
@media (min-width: 768px) {
  .site-header__link--highlight {
    border-bottom: 0.2rem solid #e1e1e1;
    padding-bottom: 1.3rem;
  }
}

.site-footer {
  padding: 0 1rem;
  background-color: #323232;
  color: #e1e1e1;
  position: relative;
}
@media (min-width: 768px) {
  .site-footer__top {
    display: flex;
    flex-direction: row;
  }
}
.site-footer__top--title {
  padding-left: 0;
}
.site-footer__top--svg {
  padding-right: 30px;
}
@media (min-width: 768px) {
  .site-footer__contact-container {
    display: flex;
    flex-direction: row;
  }
}
.site-footer__contact-container__contact {
  display: flex;
  flex-direction: column;
}
.site-footer__contact-container__contact--name-position {
  color: #fff;
  padding-top: 2rem;
}
.site-footer__contact-container__contact--destination {
  padding-top: 2rem;
}
.site-footer__contact-container__contact--email {
  padding-top: 2rem;
}
.site-footer__bottom--logo {
  width: 9rem;
  padding-top: 5.5rem;
}
@media (min-width: 768px) {
  .site-footer__bottom--logo {
    padding: 0;
    margin: 2rem 2rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.site-footer__bottom--text {
  font-size: 0.7rem;
  padding: 1rem 0;
}

* {
  box-sizing: border-box;
}

.hero-banner {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  min-height: 12rem;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .hero-banner {
    min-height: 33rem;
  }
}
.hero-banner:before {
  content: "";
  position: absolute;
  background-color: #323232;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-banner__title {
  padding-left: 16px;
  color: #fff;
  z-index: 10;
}
@media (min-width: 768px) {
  .hero-banner__title {
    font-size: 4rem;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  .main-content__title {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
.main-content__photo {
  padding: 0 1rem;
  max-width: 100%;
}
.main-content__about {
  padding: 0 1rem;
  font-weight: bold;
  line-height: 180%;
}
.main-content__description {
  padding: 0 1rem;
}
.main-content__description--title {
  padding-left: 0;
  font-weight: normal;
}
@media (min-width: 768px) {
  .main-content__description-container {
    display: flex;
  }
}
.main-content__description--paragraph {
  padding: 0 0 20px 0;
  line-height: 150%;
  width: 100%;
}
@media (min-width: 768px) {
  .main-content__description--paragraph {
    width: 50%;
  }
}
.main-content__gallery {
  padding: 0 1rem;
  background-color: #fafafa;
}
.main-content__gallery--title {
  padding-left: 0;
}/*# sourceMappingURL=bio.css.map */