.gallery-section {
  padding: 0 1rem 0 1rem;
}
@media (min-width: 768px) {
  .gallery-section {
    padding: 0 2.25rem 2.25rem 2.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .gallery-section {
    padding: 3rem 6rem 2.25rem 6rem;
  }
}
.gallery-section__photo {
  max-width: 100%;
  padding: 0.313rem 0;
  filter: grayscale(1);
}
.gallery-section__photo:hover {
  filter: grayscale(0);
  transition: 2s;
}
@media (min-width: 768px) {
  .gallery-section__photo {
    padding: 1rem 0;
    width: 31%;
  }
}

@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("woff2");
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("woff2");
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("woff2");
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("woff");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h2, h3 {
  font-weight: 600;
}

.site-header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
.site-header:hover {
  background-color: purple;
  transition: 2s;
}
@media (min-width: 768px) {
  .site-header {
    flex-direction: row;
    align-items: center;
  }
}
.site-header__logo {
  width: 9rem;
  display: flex;
  align-self: center;
  padding: 0.5rem 0;
}
@media (min-width: 768px) {
  .site-header__logo {
    margin: 1rem 2rem 1rem 1.3rem;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .site-header__logo {
    width: 8rem;
    padding-left: 2rem;
  }
}
.site-header__list {
  width: 100%;
  list-style: none;
  display: flex;
  text-align: center;
}
@media (min-width: 1280px) {
  .site-header__list {
    font-size: 0.6rem;
    margin-left: 3rem;
  }
}
.site-header__item {
  width: 50%;
}
@media (min-width: 768px) {
  .site-header__item {
    margin: 0 1rem 0 2rem;
  }
}
@media (min-width: 1280px) {
  .site-header__item {
    margin: 0 1rem 0 1rem;
  }
}
.site-header__item--highlight {
  width: 50%;
  border-bottom: 0.2rem solid #e1e1e1;
  padding-bottom: 0.7rem;
}
@media (min-width: 768px) {
  .site-header__item--highlight {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.site-header__link {
  color: #e1e1e1;
}
.site-header__link--highlight {
  color: #fff;
  font-weight: 600;
}
@media (min-width: 768px) {
  .site-header__link--highlight {
    border-bottom: 0.3rem solid #fff;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .site-header__link--highlight {
    font-weight: 400;
    padding-bottom: 2.1rem;
    letter-spacing: 0.05rem;
  }
}

.site-footer {
  background-color: #323232;
  color: #e1e1e1;
  position: relative;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .site-footer {
    padding: 0;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    margin-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .site-footer {
    padding: 3rem 6rem 2.25rem 6rem;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) {
  .site-footer__top {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
.site-footer__top--title {
  color: #fff;
  font-size: 1.7rem;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .site-footer__top--title {
    font-size: 2.6rem;
    padding: 0 2rem 0 0;
  }
}
@media (min-width: 1280px) {
  .site-footer__top--title {
    font-size: 1.6rem;
    padding-right: 2.4rem;
  }
}
.site-footer__top--svg {
  padding: 0 1rem 0 1rem;
  padding-right: 1.25rem;
  width: auto;
  height: 1.7rem;
}
@media (min-width: 768px) {
  .site-footer__top--svg {
    padding: 0;
    margin-right: 2rem;
  }
}
@media (min-width: 1280px) {
  .site-footer__top--svg {
    height: 1rem;
    margin-right: 1.3rem;
  }
}
.site-footer__contact {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .site-footer__contact {
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .site-footer__contact {
    font-size: 0.875rem;
  }
}
.site-footer__contact-container {
  line-height: 150%;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .site-footer__contact-container {
    padding: 0;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .site-footer__contact-container {
    width: 60%;
    line-height: 110%;
    font-weight: 400;
  }
}
.site-footer__contact--name {
  color: #fff;
  font-weight: 400;
  padding-top: 1rem;
}
.site-footer__contact--position {
  color: #fff;
}
.site-footer__contact--destination {
  padding-top: 1.5rem;
}
.site-footer__contact--email {
  padding-top: 1.5rem;
}
.site-footer__bottom--logo {
  width: 9rem;
  margin: 2rem 0 0 1rem;
}
@media (min-width: 768px) {
  .site-footer__bottom--logo {
    padding: 0;
    margin: 3.5rem 2rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (min-width: 1280px) {
  .site-footer__bottom--logo {
    margin-right: 6rem;
    width: 6rem;
  }
}
.site-footer__bottom--text {
  font-size: 0.7rem;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .site-footer__bottom--text {
    padding: 3rem 0 0 0;
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .site-footer__bottom--text {
    font-size: 0.875rem;
  }
}

* {
  box-sizing: border-box;
}

::-moz-placeholder {
  color: black;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

::placeholder {
  color: black;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.hero-banner {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  min-height: 12rem;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .hero-banner {
    min-height: 50vh;
  }
}
@media (min-width: 1280px) {
  .hero-banner {
    min-height: 60vh;
  }
}
.hero-banner:before {
  content: "";
  position: absolute;
  background-color: #323232;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-banner__title {
  font-weight: 600;
  padding-left: 1rem;
  color: #fff;
  z-index: 10;
}
@media (min-width: 768px) {
  .hero-banner__title {
    font-size: 4rem;
    font-weight: 600;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero-banner__title {
    padding: 3rem 6rem 2.25rem 6rem;
    font-size: 3rem;
  }
}

.main-content__title {
  font-size: 1.7rem;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .main-content__title {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    font-size: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .main-content__title {
    padding: 3rem 6rem 2.25rem 6rem;
    font-size: 1.7rem;
  }
}
.main-content__photo {
  padding: 0 1rem 0 1rem;
  max-width: 100%;
}
@media (min-width: 768px) {
  .main-content__photo {
    padding: 0.5rem 7.188rem 0.5rem 7.188rem;
  }
}
@media (min-width: 1280px) {
  .main-content__photo {
    padding: 0.5rem 10rem 0.5rem 10rem;
  }
}
.main-content__about {
  padding: 1.5rem 1rem 1rem 1rem;
  font-weight: 600;
  line-height: 180%;
}
@media (min-width: 768px) {
  .main-content__about {
    padding: 0.5rem 7.188rem 0.5rem 7.188rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .main-content__about {
    padding: 0.5rem 10rem 0.5rem 10rem;
    line-height: 150%;
    font-size: 1.3rem;
    width: 75%;
  }
}
@media (min-width: 768px) {
  .main-content__about--reference {
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .main-content__about--reference {
    font-size: 0.875rem;
  }
}
.main-content__description--title {
  padding-left: 0;
  font-weight: 600;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .main-content__description--title {
    padding: 3rem 0 1.5rem 7.188rem;
    font-size: 1.7rem;
  }
}
@media (min-width: 1280px) {
  .main-content__description--title {
    padding: 2rem 0 1.5rem 10rem;
    font-size: 1.3rem;
  }
}
.main-content__description-container {
  padding: 0 1rem 0 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .main-content__description-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 7.188rem 0.5rem 7.188rem;
  }
}
@media (min-width: 1280px) {
  .main-content__description-container {
    padding: 0.5rem 10rem 0.5rem 10rem;
  }
}
.main-content__description--paragraph {
  padding: 0 0 1.25rem 0;
  line-height: 150%;
}
@media (min-width: 768px) {
  .main-content__description--paragraph {
    font-size: 1rem;
    width: 47%;
  }
}
@media (min-width: 1280px) {
  .main-content__description--paragraph {
    font-size: 0.875rem;
    width: 49%;
  }
}
.main-content__gallery {
  background-color: #fafafa;
}
.main-content__gallery--title {
  font-size: 1.7rem;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .main-content__gallery--title {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    font-size: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .main-content__gallery--title {
    padding: 3rem 6rem 0 6rem;
    font-size: 1.6rem;
  }
}

.comment-box {
  margin: 1.5rem 1rem 1rem 1rem;
}
.comment-box__title {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .comment-box__title {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    font-size: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .comment-box__title {
    display: flex;
    padding: 3rem 6rem 0 6rem;
    font-size: 1.6rem;
  }
}
.comment-box__form {
  display: flex;
  border-bottom: solid 0.15rem #e1e1e1;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .comment-box__form {
    margin: 1.5rem 5rem 0 5rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .comment-box__form {
    margin: 2rem 0;
    width: 50%;
    justify-content: center;
  }
}
.comment-box__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-top: 2.5rem;
}
.comment-box__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-box__label {
  text-transform: uppercase;
  color: #Afafaf;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 1rem 0 0.5rem 0;
}
.comment-box__input-name {
  border-radius: 0.25rem;
  height: 2.25rem;
  background-color: #fafafa;
  border: 0.063rem solid #e1e1e1;
}
.comment-box__input-comment {
  border-radius: 0.25rem;
  height: 6rem;
  background-color: #fafafa;
  border: 0.063rem solid #e1e1e1;
}
.comment-box__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #323232;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  border: 0;
  margin-top: 1rem;
  height: 3rem;
}
@media (min-width: 768px) {
  .comment-box__button {
    text-align: center;
    align-self: flex-end;
    width: 11rem;
    font-size: 1.1rem;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) {
  .comment-box__dynamic {
    padding: 0.5rem 7.188rem 0.5rem 7.188rem;
  }
}
@media (min-width: 1280px) {
  .comment-box__dynamic {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
.comment-box__default {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comment-box__default {
    padding: 0.5rem 7.188rem 0.5rem 7.188rem;
  }
}
.comment-box__card-default {
  display: flex;
  border-bottom: solid 0.15rem #e1e1e1;
  padding: 1rem 0 1rem 0;
}
@media (min-width: 1280px) {
  .comment-box__card-default {
    width: 50%;
    align-self: center;
  }
}
.comment-box__avatar-box {
  display: flex;
  padding-right: 1rem;
}
.comment-box__avatar-default {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.comment-box__wrapper-default {
  display: flex;
  flex-direction: column;
}
.comment-box__top-box {
  display: flex;
  padding-bottom: 0.6rem;
}
.comment-box__name-default {
  flex: 50%;
  font-size: 1rem;
}
.comment-box__date-default {
  color: #Afafaf;
  font-size: 1rem;
}
.comment-box__comment-default {
  display: flex;
}/*# sourceMappingURL=bio.css.map */