@use './partials/fonts';
@use './partials/global';
@use './partials/variables' as *;
@use './partials/mixins' as *;

* {
    box-sizing: border-box;
}

.hero-banner {
    background-image: url(../assets/images/hero-shows.jpg);
    background-position: center;
    background-size: cover;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    @include desktop {
        height: 35rem;
    }

    &::before {
        content: '';
        position: absolute;
        background-color: $header-footer-background;
        opacity: 0.5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 1rem;
        padding-left: 1rem;
        padding-top: 2rem;
        width: 70%;
        color: $primary-background;
        z-index: 10;

        @include tablet {
            padding: 4rem 0 0 2.25rem;
            font-weight: 600;
            font-size: 1.7rem;
        }

        @include desktop {
            padding: 9rem 0 0 6rem;
            font-size: 1.2rem;
            font-weight: 400;
            justify-content: center;
        }
    }

    &__title {
        font-weight: 600;
        padding-left: 1rem;
        padding-top: 2rem;
        width: 70%;
        color: $primary-background;
        z-index: 10;


        @include tablet {
            width: 80%;
            font-size: 4rem;
            font-weight: 600;
            padding: 1rem 0 2.25rem 2.25rem;
        }

        @include desktop {
            padding: 1rem 0 0 6rem;
            font-size: 3rem;
            width: 50%;
            justify-content: center;
            align-items: normal;

        }
    }

    &__song {
        z-index: 10;
        padding: 1rem 1rem 2rem 1rem;

        @include tablet {
            padding-left: 2.25rem;
            margin-bottom: 3rem;
            width: 70%;
            height: 13rem;
        }

        @include desktop {
            width: 35%;
            position: absolute;
            right: 5rem;
            top: 10rem;
            height: 11rem;
        }
    }
}

.main-content {
    position: relative;

    @include desktop {
        display:flex;
        flex-direction: row;
    }

    &__title {
        padding: 2.2rem 0 1.1rem 1rem;
        font-size: 1.9rem;

        @include tablet {
            @include tablet-padding;
            font-size: 2.8rem;
        }

        @include desktop {
            font-size: 2rem;
            padding: 3rem 5rem 0 6rem;
        }
    }

    &__concerts-box {

        @include tablet{
            padding: 0 1.5rem;
        }

        @include desktop {
            width: 70%;
            padding: 6rem 0 0 6rem;
        }
    }

    &__concerts-tablet { //hidden subtitles, appears on tablet and desktop only
        display: none;

        @include tablet{
            display: flex;
            flex-direction: row;
            padding: 0 0 1rem 2.4rem;
        }

        @include desktop {
            position: absolute;
            top: 4rem;
            left: 21.4rem;
        }

        &--subtitle {
            text-transform: uppercase;
            color: $highlight;
            font-size: 0.8rem;
            flex: 0.22;
        }

        &--subtitle-venue {
            @include tablet{
                padding-left: 0.3rem;
            }

            @include desktop {
                margin-left: 9.8rem;
            }
        }

        &--subtitle-location {
            @include tablet{
                padding-left: 0.7rem;
            }

            @include desktop {
                margin-left: 8.8rem;
            }
        }
    }

    &__concert-card {
        width: 100%;
        border-bottom: 0.15rem solid $text-on-dark;
        padding: 1rem 1rem 1rem 1rem;
        &:hover { //hover state as required in Sass
            background-color: $gallery-background;
          }

        &:focus {
            background-color: $text-on-dark;
        }

        @include tablet {
            display: flex;
            align-items: center;
        }

        @include desktop {
            padding-right: 1rem;
        }
    }

    &__subtitle { 
        text-transform: uppercase;
        color: $highlight;
        font-size: 0.8rem;

        @include tablet {
            display: none;
        }
    }

    &__date {
        font-weight: 600;
        padding: 0.8rem 0;

        @include tablet {
            padding: 0;
            flex: 1;
        }
    }

    &__venue {
        padding: 0.8rem 0;

        @include tablet {
            padding: 0;
            flex: 1;
        }
    }

    &__location {
        padding: 0.8rem 0;

        @include tablet{
            padding: 0;
            flex: 1;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        background-color: $header-footer-background;
        color: $primary-background;
        text-align: center;
        font-size: 1.3rem;
        border-radius: 0.2rem;
        border: 0;
        height: 3rem;
        width: 100%;

        @include tablet{
            width: 12rem;
        }
    }
}

